// variables

$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%); 

// global styles

* {
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  color: $darkGrayishBlue;
}

p {
  color: $grayishBlue;
}

//mixins



