* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  color: #4c545d;
}

p {
  color: #9fabb2;
}

a {
  text-decoration: none;
  color: #4c545d;
}

a:hover {
  color: #26baa4;
}

.header {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row {
  width: 90%;
  max-width: 660px;
  text-align: center;
}

.header .row .logo {
  margin-bottom: 1rem;
}

.header .row p {
  margin-bottom: 3rem;
}

.header .row .buttons :nth-child(n) {
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  margin: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header .row .buttons :first-child {
  background-color: #26baa4;
  -webkit-box-shadow: 0px 5px 0px -1px #23ab96;
          box-shadow: 0px 5px 0px -1px #23ab96;
}

.header .row .buttons :nth-child(2) {
  background-color: #6173ff;
  -webkit-box-shadow: 0px 5px 0px -1px #5a6aea;
          box-shadow: 0px 5px 0px -1px #5a6aea;
}

@media only screen and (max-width: 452px) {
  .header {
    padding-top: 3rem;
    margin-bottom: 5rem;
  }
  .header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .row {
  width: 90%;
  max-width: 660px;
  text-align: center;
  margin: 0 auto 6rem;
}

.main .features-row {
  width: 95%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}

.main .features-row .image-section {
  width: 65%;
  min-width: 300px;
  margin-left: -35px;
}

.main .features-row .image-section img {
  width: 100%;
}

.main .features-row .features-section {
  width: 30%;
  min-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .features-row .features-section .feature {
  display: block;
  padding-bottom: 3rem;
}

.main .features-row .features-section .feature h3 {
  margin: 0;
}

.main .features-row .features-section .feature p {
  font-size: 17px;
  margin: 0;
}

@media only screen and (max-width: 784px) {
  .main .features-row {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .main .features-row .image-section {
    width: 100%;
    margin: 0;
    margin-bottom: 5rem;
  }
  .main .features-row .features-section {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .main .features-row .features-section .feature h3 {
    font-size: 1.5em;
    color: #4c545d;
    margin-bottom: 1.2rem;
  }
}

.main .image-center-row {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

.main .image-center-row img {
  width: 100%;
}

@media only screen and (max-width: 784px) {
  .main .image-center-row {
    width: 90%;
    margin-bottom: 5rem;
  }
}

.main .options-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

.main .options-row .option {
  width: 32%;
  font-size: 17px;
}

.main .options-row .option h3 {
  color: #4c545d;
}

.main .options-row .option :first-child {
  height: 32px;
}

@media only screen and (max-width: 784px) {
  .main .options-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    text-align: center;
  }
  .main .options-row .option {
    width: 100%;
    max-width: 400px;
    margin-bottom: 3rem;
  }
  .main .options-row .option h3 {
    font-size: 1.5rem;
  }
}

.main .clients-logo-row {
  width: 90%;
  max-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 9rem auto;
}

.main .clients-logo-row span {
  margin: 2rem;
}

@media only screen and (max-width: 452px) {
  .main .clients-logo-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main .last-main-row {
  width: 90%;
  max-width: 660px;
  text-align: center;
  margin: 0 auto 6rem;
  margin-bottom: 10rem;
}

.main .last-main-row p {
  margin-bottom: 3rem;
}

.main .last-main-row .buttons :nth-child(n) {
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  margin: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.main .last-main-row .buttons :first-child {
  background-color: #26baa4;
  -webkit-box-shadow: 0px 5px 0px -1px #23ab96;
          box-shadow: 0px 5px 0px -1px #23ab96;
}

.main .last-main-row .buttons :nth-child(2) {
  background-color: #6173ff;
  -webkit-box-shadow: 0px 5px 0px -1px #5a6aea;
          box-shadow: 0px 5px 0px -1px #5a6aea;
}

@media only screen and (max-width: 452px) {
  .main .last-main-row .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  background-color: #eee;
  padding: 3rem 0 1rem;
}

.footer .row {
  width: 90%;
  max-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.footer .row .logo-section {
  width: 6%;
  min-width: 80px;
}

.footer .row .logo-section img {
  width: 100%;
}

.footer .row .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.footer .row .nav-links .links {
  list-style: none;
  padding: 0 3%;
  margin: 0;
}

.footer .row .nav-links .links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.footer .row .nav-links .links li a {
  font-size: 16px;
}

.footer .row .social-links i {
  font-size: 24px;
  margin-right: 5px;
}

@media only screen and (max-width: 784px) {
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .row .logo-section, .footer .row .nav-links {
    margin-bottom: 2rem;
  }
  .footer .row .nav-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .row .social-links i {
    font-size: 40px;
  }
}

@media only screen and (max-width: 452px) {
  .footer .row .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.lower-footer {
  background-color: #eee;
  padding: 2rem 3rem;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lower-footer p {
  margin: 0;
}

.lower-footer a {
  text-decoration: underline;
}

@media only screen and (max-width: 784px) {
  .lower-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */