@import "_config";
@import "_breakpoints";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p {
  color: #2a2a2a;
}

.header {
  background-image: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  
  .navbar {
    width: 90%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    margin: 0 auto;

    .logo {
      width: 12%;
      min-width: 150px;

      img {
        width: 100%;
      }
    }

    .nav-links {
      width: 20%;
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        font-size: 17px;
        color: #2a2a2a;
      }
    }
  }

  .row {
    @include row-dimensions;

    .content-section {

      .form {
        margin-top: 1rem;

        input {
          @include input-field-style;
        }

        button {
          @include btn-style;
        }
      }
    }
    
    .image-section {
      @include image-size;
    }

    // responsiveness for desktops 
    @include breakpoint(desktop) {
      .content-section {

        h1 {
          font-size: 2em;
        }

        p {
          font-size: 16px;
        }
      }
    }

    // responsiveness for tablets
    @include breakpoint(tablet) {
      flex-direction: column-reverse;
      align-items: center;

      .content-section, .image-section {
        width: 90%;
      }

      .content-section {
        text-align: center;
        margin-top: 3rem;
      }
    }

    // responsive for mobiles
    @include breakpoint(mobile) {
      .content-section {

        h1 {
          font-size: 1.8em;
        }

        .form {
          input {
            width: 100%;
            margin-bottom: 10px;
          }

          button {
            width: 100%;
          }
        }
      }
    }
  }
}

.main-section {
  background-color: $lightGrayishBlue;
  
  .row {
    @include row-dimensions;
    padding-bottom: 5rem;

    .content-section {

      .see-work-link {
        @include fancy-link;
      }

      .testimonial-tile {
        @include testimonial-tile;

        &:before {
          content: open-quote;
          display: block;
          line-height: 0;
          left: -4px;
          position: relative;
          top: 12px;
          color: #5d5b5b;
          font-size: 5em;
          margin: 0.5rem 0 0.9rem;  
        }
      }
    }

    .image-section {
      @include image-size;
    }

    // responsiveness for desktops 
    @include breakpoint(desktop) {
      .content-section {

        h1 {
          font-size: 2em;
        }

        p, .see-work-link a {
          font-size: 16px;
        }

        .see-work-link {
          width: 170px;
        }
      }
    }

    // responsiveness for tablets
    @include breakpoint(tablet) {
      flex-direction: column-reverse;
      align-items: center;

      .content-section, .image-section {
        width: 90%;
      }

      .content-section {
        margin-top: 3rem;
      }
    }

    @include breakpoint(mobile) {
      .content-section {

        h1 {
          font-size: 1.2em;
          text-align: center;
          margin-bottom: 2rem;
        }

        .see-work-link {
          margin: 1rem auto;
        }

        .testimonial-tile {
          width: 340px;
          margin: 2rem 0;
        }
      }
    }
  }
}

.access-section {
  background-color: $desaturatedBlue;

  .row {
    @include row-dimensions;
    align-items: center;
    padding-bottom: 5rem;

    h1, p {
      color: white;
    }

    .form-section {
      width: 40%;

      input {
        @include input-field-style;
        display: block;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      button {
        @include btn-style;
        display: block;
        width: 100%;
        max-width: 200px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem
      }
    }

    // responsiveness for desktops 
    @include breakpoint(desktop) {
      .content-section {

        h1 {
          font-size: 2em;
        }

        p {
          font-size: 16px;
        }
      }
    }

    // responsiveness for tablets
    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;

      .content-section {
        width: 90%;
        text-align: center;
      }

      .form-section {
        margin-top: 3rem;
        width: 60%;
      }
    }

    @include breakpoint(mobile) {
      .content-section {

        h1 {
          font-size: 1.2em;
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .form-section {
        width: 80%;
        
        input {
          width: 100%;
        }

        button {
          max-width: 100%;
        }
      }
    }
  }
}

.footer {
  background-color: $darkBlue;

  .row {
    @include row-dimensions;
    display: block;
    padding-bottom: 2rem;

    .footer-logo {
      filter: invert(50%) brightness(200%);
      margin-bottom: 3rem;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .about-info {
        width: 25%;
        font-size: 15px;
        color: white;

        .about-content {
          display: flex;
          margin-bottom: 1rem;

          i {
            width: 10px;
            margin-top: 4px;
          }

          p {
            color: white;
            margin: 0;
            margin-left: 1.3rem;
          }
        }
      }

      .footer-nav {
        display: flex;
        justify-content: space-around;
        width: 45%;

        .links {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 10px;
          }

          .link {
            text-decoration: none;
            font-size: 16px;
            color: white;
          }
        }
      }

      .social-links {
        width: 22%;
            
        i {  
          color: white;
          text-align: center;
          font-size: 28px;
          padding: 0 10px;
        }
      }

      // responsiveness for tablets
      @include breakpoint(tablet) {
        flex-direction: column;

        .about-info, .footer-nav, .social-links {
          width: 100%;
        }

        .footer-nav {
          flex-direction: column;
          margin: 2rem 0;
        }
      }

      @include breakpoint(mobile) {
        .footer-logo {
          
        }
      }
    }
  }

  .lower-footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 5rem;

    p {
      font-size: 13px;
      color: white;
      padding: 2rem;
      margin: 0;
    }

    a {
      color: white;
    }

    // responsiveness for tablets
    @include breakpoint(tablet) {
      justify-content: center;
    }
  }
}